.listView {
    background-color: white;
    border-color: darkblue;
    border-width: 5px 5px 5px 5px;
    color: black;
    height: 200px;
    margin: 2.5px 5px 2.5px 5px;
    text-align: center; 
}
.listView .name {
    font-size: 30px;
}
.listView .role {
    color: red;
}
.listViewTapped {
    background-color: #cccccc;
    border-color: darkblue;
    border-width: 5px 5px 5px 5px;
    color: black;
    height: 200px;
    margin: 2.5px 5px 2.5px 5px;
    text-align: center; 
}
.listViewTapped .name {
    font-size: 30px;
}
.listViewTapped .role {
    color: red;
}
.stackLayout {
    color: white;
    background-color: #4A148C;
    border-color: #E1BEE7 white #E1BEE7 white;
    border-width: 8px 0px 8px 0px; 
    font-size: 25px;
    height: 150px;
    padding: 0px 0px 0px 30px;
    text-align: left;
    vertical-align: center;
}