<TabView tabBackgroundColor="red" tabTextColor="#FFFFFF" selectedTabTextColor="yellow" androidSelectedTabHighlightColor="yellow">

    <AbsoluteLayout #absoluteLayout *tabItem="{title: 'List'}">
        
        <ScrollView (scroll)="onScroll($event)" #scrollView left="0" top="0" width="100%" height="100%">
        
            <StackLayout>
            
                <ScrollView>

                    <GridLayout tkExampleTitle tkToggleNavButton>
                        
                        <RadListView [items]="futureItems | async" (itemTap)="onItemTapFuture($event)" #radList1>
                            
                            <ng-template tkListItemTemplate let-item="item">
                                
                                <StackLayout class="{{ tappedItem === item.id ? 'listViewTapped' : 'listView' }}">
                                    <Label [text]="item.name" class="name"></Label>
                                    <Label [text]="item.role" class="role"></Label>
                                </StackLayout>
                                
                            </ng-template>
                            
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                            
                        </RadListView>
                    
                    </GridLayout>

                </ScrollView>

                <StackLayout class="stackLayout" #stackLayout1 width="100%">
                    <Label text="Future"></Label>
                </StackLayout>

                <StackLayout class="stackLayout" #stackLayout2 width="100%">
                    <Label text="Past"></Label>
                </StackLayout>

                <ScrollView>

                    <GridLayout tkExampleTitle tkToggleNavButton>
                        
                        <RadListView [items]="pastItems | async" (itemTap)="onItemTapPast($event)" #radList2>
                            
                            <ng-template tkListItemTemplate let-item="item">
                                
                                <StackLayout [class]="tappedItem === item.id ? 'listViewTapped' : 'listView'">
                                    <Label [text]="item.name" class="name"></Label>
                                    <Label [text]="item.role" class="role"></Label>
                                </StackLayout>
                            
                            </ng-template>
                            
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                        
                        </RadListView>

                    </GridLayout>
                    
                </ScrollView>

            </StackLayout>

        </ScrollView>

        <StackLayout class="stackLayout" width="100%" left="0" [top]="footerLocation" visibility="{{ showFooter ? 'visible' : 'collapsed' }}" (tap)="showLog('future - tap')">            
            <Label text="Future"></Label>
        </StackLayout>

        <StackLayout class="stackLayout" width="100%" left="0" [top]="headerLocation" visibility="{{ showHeader ? 'visible' : 'collapsed' }}" (tap)="showLog('past - tap')">
            <Label text="Past"></Label>
        </StackLayout>

    </AbsoluteLayout>

    <StackLayout sdkExampleTitle sdkToggleNavButton *tabItem="{title: 'Web'}">
        <StackLayout>
            <!-- >> web-view-html -->
            <GridLayout rows="75 * 50">
                <GridLayout row="0" rows="*" columns="50 *" class="form">
                    <Button row="0" col="0" text="<<" height="50" (tap)="goBack()"></Button>   
                    <TextField #urlField row="0" col="1" hint="Enter URL" [text]="webViewSrc" returnKeyType="done"
                        (returnPress)="submit(urlField.text)" autocorrect="false" verticalAlignment="center"
                        autocapitalizationType="none" ></TextField>  
                </GridLayout>
                <WebView row="1" #myWebView [src]="webViewSrc"></WebView>
                <Label row="2" height="30" #labelResult></Label>
            </GridLayout>
            <!-- << web-view-html -->
        </StackLayout>
    </StackLayout>

</TabView>